footer{
	width: 100%;
	bottom: 0;
	background-color: #000;
	text-decoration: none;
}
.envio img{
	margin: auto;
	text-align: center;
}
.pie{
	color: #000;
	font-weight: bold;
	font-size: 15px;
	float: left;
	margin:auto;
	width: 100%;
}